<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Ecommerce Site Project" verbose="1" >
    <listeners>
        <listener class-name="utilities.Reporting"/>
    </listeners>
    <test name="All Suites" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.TC_001_ValidateHomePage" />

        </classes>
    </test>

</suite>